<!DOCTYPE html>
<html ng-app="newsApp" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>NewsApp</title>
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>

</head>

<body>
<ng-include src="'./templates/common/header.html'"></ng-include>

<div class="container" ng-controller="newsController" ng-init="query()">
    <div class="row">
        <div class="col-sm-12">
            <span style="font-size: 22px;font-weight: bold" ng-show="newsList.length <= 0">No story found</span>
                <span style="font-weight: bold" ng-show="newsList.length > 0">
                    Showing {{newsList.length}} <span ng-show="newsList.length == 0">story</span><span
                        ng-show="newsList.length > 0">stories</span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-hover">
                <tbody>
                <tr ng-repeat="news in newsList">
                    <td>
                        <h4 class="pull-left"><i class="fa fa-newspaper-o"></i> Story {{$index+1}}:
                            {{news.title}} </h4>
                        <!--<p class="pull-right" style="font-style: italic;"-->
                        <!--th:text="${#dates.format(data.publishDate, 'dd MMM, yyyy')}"></p>-->
                        <div style="clear:both"></div>
                        <span><a href="#">html</a></span> | <span>
                            <a href="#">json</a></span> | <span>
                            <a href="#">xml</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/services.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>

</body>
</html>