<div ng-init="query()">
    <div class="row">
        <div class="col-sm-12">
            <span style="font-size: 22px;font-weight: bold" ng-show="newsList.length <= 0">No story found</span>
                <span style="font-weight: bold" ng-show="newsList.length > 0">
                    Showing {{newsList.length}} <span ng-show="newsList.length == 0">story</span><span
                        ng-show="newsList.length > 0">stories</span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-hover">
                <tbody>
                <tr ng-repeat="news in newsList">
                    <td>
                        <h4 class="pull-left"><i class="fa fa-newspaper-o"></i> Story {{$index+1}}:
                            {{news.title}} </h4>
                        <!--<p class="pull-right" style="font-style: italic;"-->
                        <!--th:text="${#dates.format(data.publishDate, 'dd MMM, yyyy')}"></p>-->
                        <div style="clear:both"></div>
                        <span><a href="#">html</a></span> | <span>
                            <a href="#">json</a></span> | <span>
                            <a href="#">xml</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>